################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend-web/.vs/
/.vs/
/backend-web/SI Web API/bin/
/backend-web/SI Web API/.config/
/backend-web/SI Web API/obj/
