
#companyContainer {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  
  #title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  

  #addCompanyButton {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  #addCompanyButton:hover {
    background-color: #0056b3;
  }
  
  
  #addCompanyModal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
  }
  

  #createCompanyButton {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  #createCompanyButton:hover {
    background-color: #218838;
  }
  

  #cancelCompanyButton {
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  #cancelCompanyButton:hover {
    background-color: #c82333;
  }
  

  #companyTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  
  #companyTable th {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    text-align: left;
  }
  

  .companyTableRow:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .companyTableRow:hover {
    background-color: #ddd;
  }

  .companyTableRow td {
    font-size: 14px;
    padding: 10px;
  }
  

  .companyUpdateIcon,
  .companyDeleteIcon {
    color: #888;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  
  .companyUpdateIcon:hover,
  .companyDeleteIcon:hover {
    color: #333;
  }
  