.two-factor-portal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 400px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    margin: auto; 
    background-color: white; 
}
#error{
    color:red;
    font-size: 22px;
    font-style:italic;
}
.two-factor-portal img {
    width: 80%; 
    border-radius: 8px; 
}

.two-factor-portal input.inp {
    width: calc(100% - 20px); 
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #007bff; 
    border-radius: 8px; 
    color: black;
    font-size: 16px; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.digit-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto;
    gap:7px 
}

.digit-inputs .digit {
    width: 60px; 
    text-align: center;
}

.two-factor-portal button {
    cursor: pointer;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-size: 16px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s;
}

.two-factor-portal button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.two-factor-portal {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
}
